<section>
    <div class="container">
        <div *ngIf="classesSrvc.detail" class="row">
            <div class="col-12 col-md-8">
                <video *ngIf="classMaterialSrcv.detail" controls style="width: 100%;" [src]="classMaterialSrcv.detail.videourl" poster="../../../../assets/images/placeholder/video-thumb.jpg"></video>
                <br/><br/>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" [ngClass]="{'active':activetab==='description'}" (click)="activetab='description'">Deskripsi</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" [ngClass]="{'active':activetab==='materials'}" (click)="activetab='materials'">Material ({{classMaterialSrcv.alldata.length}})</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" [ngClass]="{'active':activetab==='sourcefiles'}" (click)="activetab='sourcefiles'">Source File</a></li>
                </ul>
                <br/>
                <ng-container *ngIf="activetab==='description'">
                    <h3>{{classesSrvc.detail.title}}</h3>
                    <div [innerHTML]="classesSrvc.detail.content"></div>
                </ng-container>
                <ng-container *ngIf="activetab==='materials'">
                    <h3>Materials</h3>
                    <ul *ngIf="classesSrvc.detail" class="list-group">
                        <li *ngFor="let material of classMaterialSrcv.alldata" class="list-group-item" [ngClass]="classMaterialSrcv.detail?.videourl === material.videourl ? 'active' : ''" (click)="classMaterialSrcv.detail = material">
                            <i [ngClass]="classMaterialSrcv.detail?.videourl === material.videourl ? 'fas fa-play-circle' : 'far fa-play-circle'"></i> {{material.title}}
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="activetab==='sourcefiles'">
                    <p>Source Files</p>
                    <ul *ngIf="classesSrvc.detail" class="list-group">
                        <li *ngFor="let material of classMaterialSrcv.alldata;let i=index" class="list-group-item">
                            <a [href]="material.url">Material {{i+1}}</a>
                        </li>
                    </ul>
                </ng-container>
            </div>
            <div class="col-12 col-md-4 text-center">
                [Space]
            </div>
        </div>
    </div>
</section>