<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="'/'">
        <img src="../../../assets/images/logo.png" alt="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
        <ul class="navbar-nav">
          <ng-container *ngIf="isPublic">
            <li class="nav-item"><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link" [routerLink]="'/'">Home</a></li>
            <li class="nav-item"><a routerLinkActive="active" class="nav-link" [routerLink]="'/kelas'">Kelas</a></li>
            <li class="nav-item"><a routerLinkActive="active" class="nav-link" [routerLink]="'/projek'">Projek</a></li>
            <li class="nav-item"><a routerLinkActive="active" class="nav-link" [routerLink]="'/kolaborasi'">Kolaborasi</a></li>
          </ng-container>

          <ng-container *ngIf="!isPublic">
            <li class="nav-item"><a routerLinkActive="active" class="nav-link" [routerLink]="'/admin'">Dashboard</a></li>
          </ng-container>

          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Masuk</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" data-bs-toggle="dropdown">Akun Saya</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="'/akun-saya'">Edit Profile</a></li>
              <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="'/akun-saya/projek'">Projek Saya <span class="badge bg-danger">3</span></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>