body {font-family: 'Open Sans', sans-serif; line-height: 1.6; margin: 0; color: #666;background: #f9f9f9;}
a {color:#8bc53f}
a:hover {color:#7aad37;text-decoration: none}

.bg-primary {background-color: #8bc53f !important}

.btn {border:0;transform:scale(1);transition: .3s ease-in-out;border-radius: 50px;padding: .375rem 1.25rem;}
    .btn:hover {transform:scale(1.02);box-shadow: 0 5px 15px rgb(0 0 0 / .2)}
    .btn.focus, .btn:focus { outline: 0; box-shadow: 0 0 15px 2px hsl(86 54% 51% / .3); }
.btn-primary {background: #8bc53f; color: #fff}
    .btn-primary:hover {background: #97cb52}
    .btn-primary:focus, .btn-primary:active {background: #7aad37}
    .btn-primary.disabled, .btn-primary:disabled {color: #f4f4f4;background-color: #7cb530;border-color: #7cb530}
    .btn-primary:hover.disabled, .btn-primary:hover:disabled {transform:unset;cursor: not-allowed}
.btn-filter {position: fixed; bottom: 20px; left: 50%; transform: translate(-50%); z-index: 5; opacity: 1; background: #fff; color: #888;box-shadow:0 0 20px #efefef}
    .btn-filter:hover {transform: translate(-50%) scale(1.1)}
.btn-admin {background: #fff;border-radius: 0 0 10px 0 !important;z-index: 8;position: fixed;box-shadow: 0 0 10px rgb(0 0 0 / .1)}

.form-control {color: #333;background-color: #fff;border: 1px solid #f1f1f1;border-radius: 7px;transition: .1s ease-in-out}
    .form-control::placeholder { color: #c7c7c7}
    .form-control:focus { background-color: #f7f7f7; border-color: #eee; border-bottom: 2px solid #97cb52; box-shadow: none; }
select.form-control { background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJMYXllcl8xIiBkYXRhLW5hbWU9IkxheWVyIDEiIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIiBzdHlsZT0iJiMxMDsiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZmZmO30uY2xzLTJ7ZmlsbDojNDQ0O308L3N0eWxlPjwvZGVmcz48dGl0bGU+YXJyb3dzPC90aXRsZT48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMS40MSA0LjY3IDIuNDggMy4xOCAzLjU0IDQuNjcgMS40MSA0LjY3Ii8+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjMuNTQgNS4zMyAyLjQ4IDYuODIgMS40MSA1LjMzIDMuNTQgNS4zMyIvPjwvc3ZnPg==) no-repeat 99% 50%; -moz-appearance: none; -webkit-appearance: none; appearance: none; background-color: #fff; }
.input-group-text{border: 1px solid #f1f1f1}

.card {border: 0; box-shadow: 0 0 20px #efefef;border-radius: 10px; overflow: hidden}
.card-footer { padding: .75rem 1.25rem; background-color: rgba(0,0,0,.02); border-top: .5px solid rgba(0,0,0,.075)}

.table {background: #fff; border-radius: 10px; overflow: hidden; box-shadow: 0 0 20px #efefef}
    .table thead th {border-bottom: 2px solid #f9f9f9}
    .table td, .table th {border-top: 1px solid #f1f1f1}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{background-color:#8bc53f}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus { background: #7aad37; }

.modal-content {border: 0; border-radius: 7px; box-shadow: 0 0 15px 0 rgb(0 0 0 / .5)}
.modal-header {box-shadow: 0 2px 15px 5px rgb(0 0 0 / .03)}
.modal-footer {box-shadow: 0 -2px 25px 5px rgb(0 0 0 / .03)}
    .modal-header, .modal-footer {border:0}


@media (max-width: 480px){
    .modal-dialog {margin: 20px;}
    table, thead, tbody, th, td, tr {display: block}
    thead tr {position: absolute; top: -9999px; left: -9999px}
    tr {border: 1px solid #f9f9f9;margin-bottom:15px}
    td {border: none; border-bottom: 1px solid #eee; position: relative; white-space: normal; text-align:left}
    td:before {content: attr(mds-th-title); font-weight: bold; width: 100%; display: flex}
}