<main style="position:relative">
    <table style="min-height: 80vh; width: 100%;margin:40px 0 0;">
        <tr style="margin:0;border:0;">
        <td style="border:0;">
            <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h2 class="card-title">Kolaborasi</h2>
                    <b class="card-title">Cari Frelancer?</b>
                    <p>Cari profesional freelancer, lihat profile & portfolionya. Jika cocok hubungi freelacner dan ajak kolab garap projek.</p>
                    <a href class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Join Sebagai Freelancer</a>
                    <br /><br />
                    <b class="card-title">Cari Tutor?</b>
                    <p>Solusi untuk kursus non formal dan tarif bersahabat. Cari profile tutor terdekat dikota kamu, tarif sesuai, hubungi tutor & belajar sambil nge-caffe.</p>
                    <a href class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Join Sebagai Freelance Tutor</a>
                    <hr/>
                    <a href="https://play.google.com/store/apps/details?id=com.mediadesain.app"><img src="../../../assets/images/elements/store-googleplay.png" style="max-height: 40px;"></a>
                    <img src="../../../assets/images/elements/store-appstore.png" style="max-height: 40px;"><br/>
                    <small class="text-muted"><i>Untuk saat ini list freelancer & freelancer tutor tersedia di aplikasi kami. (AppStore Rilis Mid 2021)</i></small>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <img src="../../../assets/images/elements/hand-kolabin.png" class="img-fluid d-block d-sm-none"/>
                </div>
            </div>
            </div>
        </td>
        </tr>
    </table>
    <img src="../../../assets/images/elements/hand-kolabin.png" class="d-none d-sm-block" style="position: absolute;bottom: 0;right: 100px;z-index: -1;width:900px;"/>
</main>