<header>
    <div class="text-center" style="position: relative;z-index: 2;">
      <h3>Dukung Kami</h3>
    </div>
    <div style="background: url(/../../../assets/images/elements/cloud-top.png) repeat-x;position:absolute;bottom:-50px;width: 100%;height: 100px;z-index: 2;"></div>
    <div style=" background: url(/../../../assets/images/header/donation.jpg) center; background-size: cover; opacity: .1; width: 100%; height: 100px; position: absolute; z-index: 1; top: 0; height: 100%; z-index: 0; "></div>
  </header>
    
  <section style="background: #fff;">
    <div class="container-sm">
      <div class="row align-items-center">
        <div class="col-sm-6 text-center">
          <img src="/../../../assets/images/elements/logo.png" class="img-fluid" style="width: 250px;">
        </div>
        <div class="col-sm-6">
          <p>Saat ini kami berbagi tutorial gratis tanpa ada dukungan investor. Secangkir kopi anda bisa membantu kami berkembang dan memotivasi kami untuk terus berbagi ilmu tentang seni digital.</p>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-6 col-sm-3">
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#gopay"><img src="/../../../assets/images/donation/logo-gopay.png" class="img-fluid"></a>
        </div>
        <div class="col-6 col-sm-3">
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ovo"><img src="/../../../assets/images/donation/logo-ovo.png" class="img-fluid"></a>
        </div>
        <div class="col-6 col-sm-3">
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#dana"><img src="/../../../assets/images/donation/logo-dana.png" class="img-fluid"></a>
        </div>
        <div class="col-6 col-sm-3">
          <a href="https://www.paypal.me/reynaldijuliosetia/" target="_blank"><img src="/../../../assets/images/donation/logo-paypal.png" class="img-fluid"></a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Modal -->
  <div class="modal fade" id="gopay">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Traktir kami dengan</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
          <img src="/../../../assets/images/donation/qr-gopay.jpg" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="ovo">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Traktir kami dengan</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
          <img src="/../../../assets/images/donation/qr-ovo.jpg" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="dana">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Traktir kami dengan</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
          <img src="/../../../assets/images/donation/qr-dana.jpg" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>