<header>
<div class="text-center" style="position: relative;z-index: 2;">
    <img src="../../../assets/images/elements/logo.png" style="max-width: 300px;margin-bottom:20px;">
    <h4>Belajar & Berkolaborasi</h4>
</div>
<div style="background: url(../../../assets/images/elements/cloud-top.png) repeat-x;position:absolute;bottom:-50px;width: 100%;height: 100px;z-index: 2;"></div>
<div style=" background: url(../../../assets/images/header/home.jpg) center; background-size: cover; opacity: .1; width: 100%; height: 100px; position: absolute; z-index: 1; top: 0; height: 100%; z-index: 0; "></div>
</header>

<section style="background: #fff;">
    <div class="container-sm">
        <h3 class="text-title text-center">Tutorialnya Seni Digital</h3>
        <div class="row align-items-center">
        <div class="col-sm-6 text-center">
            <img src="../../../assets/images/elements/icon-main.png" class="img-fluid" style="width: 450px;">
        </div>
        <div class="col-sm-6">
            <p>Mediadsain adalah komunitas digital untuk berbagi ilmu dalam mendesain media digital. Terutama yang berkecimpung diindustri kreatif seperti web/mobile development, desain grafis, photography, video & audio visual.</p>
        </div>
        </div>
        <div class="row">
        <div class="col-6 col-sm-4 text-center">
            <h5 class="text-title">Informatif</h5>
            <img src="/../../../assets/images/elements/icn-informatif.png" style="width: 140px;">
            <p>Konten lebih informatik karena dibuat dengan media video daripada artikel.</p>
        </div>
        <div class="col-6 col-sm-4 text-center">
            <h5 class="text-title">Download Sample File</h5>  
            <img src="/../../../assets/images/elements/icn-file.png" style="width: 140px;">
            <p>File assets, contoh, hasil sample tutorial bisa didownload.</p>
        </div>
        <div class="col-12 col-sm-4 text-center">
            <h5 class="text-title">Freemium Konten</h5>
            <img src="/../../../assets/images/elements/icn-free.png" style="width: 140px;">
            <p>Kualitas video tutorial versi gratis tidak kalah dengan premium konten (HD).</p>
        </div>
        </div>
    </div>
</section>

<section style="background: linear-gradient(180deg, rgb(250 255 243), #fff 90%);padding: 120px 0 100px;position: relative;">
    <div style="background: url(../../../assets/images/elements/cloud-bottom.png) repeat-x;position:absolute;top: 0;z-index: 2;width: 100%;height: 100px;"></div>
    <h3 class="text-title text-center">Komunitasnya Seniman Digital</h3>
    <div class="container-sm">
        <div class="row align-items-center">
        <div class="col-sm-6 text-center">
            <img src="../../../assets/images/elements/icon-main-2.png" class="img-fluid" style="width: 450px;">
        </div>
        <div class="col-sm-6">
            <p>Selain media untuk belajar kami juga sebagai komunitas untuk para seniman digital terutama freelancer untuk berkolaborasi, sharing ilmu, mencari tutor kelas privat, mencari freelancer untuk partner kerja & bahkan menggarap projek bersama-sama.</p>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4 mb-5 text-center">
            <h5 class="text-title">Profesional Freelancer</h5>
            <img src="/../../../assets/images/elements/icn-pro.png" style="width: 140px;">
            <p>Freelancer profesinal sudah bergabung dengan komunitas kami. Dan akan terus bertambah. Atau kamu juga bisa bergabung.</p>
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Bergabung</a>
        </div>
        <div class="col-sm-4 mb-5 text-center">
            <h5 class="text-title">Belajar Bareng</h5>  
            <img src="/../../../assets/images/elements/icn-komentar.png" style="width: 140px;">
            <p>Temukan Freelancer profesional untuk belajar bareng / kelas privat dengan harga bersahabat.</p>
            <a [routerLink]="'/kolaborasi'" class="btn btn-primary">Cari Freelancer</a>
        </div>
        <div class="col-sm-4 mb-5 text-center">
            <h5 class="text-title">Garap Projek Bareng</h5>
            <img src="/../../../assets/images/elements/icn-job.png" style="width: 140px;">
            <p>Kamu freelancer grafis? butuh seorang photographer, programer atau motion, atau sebaliknya? Temukan bersama kami.</p>
            <a [routerLink]="'/projek'" class="btn btn-primary">Cari / Buat Projek</a>
        </div>
        </div>
    </div>
</section>

<!-- Responsive Table
<section class="container-fluid">
    <table class="table">
        <thead class="table-light">
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td mds-th-title="Company">Alfreds Futterkiste</td>
                <td mds-th-title="Contact">Maria Anders</td>
                <td mds-th-title="Country">Germany</td>
              </tr>
              <tr>
                <td mds-th-title="Company">Centro comercial Moctezuma</td>
                <td mds-th-title="Contact">Francisco Chang</td>
                <td mds-th-title="Country">Mexico</td>
              </tr>
              <tr>
                <td mds-th-title="Company">Ernst Handel</td>
                <td mds-th-title="Contact">Roland Mendel</td>
                <td mds-th-title="Country">Austria</td>
              </tr>
              <tr>
                <td mds-th-title="Company">Island Trading</td>
                <td mds-th-title="Contact">Helen Bennett</td>
                <td mds-th-title="Country">UK</td>
              </tr>
              <tr>
                <td mds-th-title="Company">Laughing Bacchus Winecellars</td>
                <td mds-th-title="Contact">Yoshi Tannamuri</td>
                <td mds-th-title="Country">Canada</td>
              </tr>
              <tr>
                <td mds-th-title="Company">Magazzini Alimentari Riuniti</td>
                <td mds-th-title="Contact">Giovanni Rovelli</td>
                <td mds-th-title="Country">Italy</td>
              </tr>
        </tbody>
      </table>
</section> -->