<main style="position:relative">
    <table style="min-height: 80vh; width: 100%;margin:40px 0 0;">
        <tr style="margin:0;border:0;">
          <td style="border:0;">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Cari & Garap Projek Bareng</h2>
                            <p>Kamu freelancer dan sedang mencari projek? Buka aplikasi kami, cari projek yang sesuai dengan keahlian kamu & hubungi client.</p>
                            <h2 class="card-title">Punya Projekan?</h2>
                            <p>Submit detail projek dan tarifnya sekarang juga. Dan profesional freelancer yang telah bergabung dengan kami akan segera menghubungi kamu.</p>
                            <a [routerLink]="'/akun-saya/projek'" class="btn btn-primary">Buat Projek Baru</a>
                            <hr/>
                            <div class="text-center text-sm-start">
                                <a href="https://play.google.com/store/apps/details?id=com.mediadesain.app"><img src="../../../assets/images/elements/store-googleplay.png" style="max-height: 40px;"></a>
                                &nbsp;
                                <img src="../../../assets/images/elements/store-appstore.png" style="max-height: 40px;"><br/>
                                <small class="text-muted"><i>Untuk saat ini list projek tersedia di aplikasi kami. (AppStore Rilis Mid 2021)</i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                  <img src="../../../assets/images/elements/hand-project.png" class="img-fluid d-block d-sm-none"/>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <img src="../../../assets/images/elements/hand-project.png" class="d-none d-sm-block" style="position: absolute;bottom: 0;right: 100px;z-index: -1;width:900px;"/>
</main>