<header>
  <div class="text-center" style="position: relative;z-index: 2;">
    <h3>Tentang Kami</h3>
  </div>
  <div style="background: url(/../../../assets/images/elements/cloud-top.png) repeat-x;position:absolute;bottom:-50px;width: 100%;height: 100px;z-index: 2;"></div>
  <div style=" background: url(/../../../assets/images/header/aboutus.jpg) center; background-size: cover; opacity: .1; width: 100%; height: 100px; position: absolute; z-index: 1; top: 0; height: 100%; z-index: 0; "></div>
</header>
    
<section style="background: #fff;">
  <div class="container-sm">
    <div class="row align-items-center">
      <div class="col-sm-6 text-center">
        <img src="/../../../assets/images/elements/logo.png" class="img-fluid" style="width: 250px;">
      </div>
      <div class="col-sm-6">
        <p>Mediadsain adalah komunitas digital untuk berbagi ilmu dalam mendesain media digital. Terutama yang berkecimpung diindustri kreatif seperti web/mobile development, desain grafis, photography, video & audio visual.</p>
        <p>Dimulai dari mahasiswa Desain Komunikasi Visual dan berpikir bahwa keterampilan apa yang kita miliki dari perkuliahan itu tidak cukup dan perlu belajar lebih banyak diluar perkuliahan. Dari masalah tersebut munculah ide untuk membuat website yang didalamnya berisi tutorial yang tealah kami pelajari dan saling bertukar pengetahuan.</p>
      </div>
      <div class="col-12">
        <p>Tidak hanya berfokus pada berbagi pengetahuan, kami juga berbagi resource file template, mockup dll yang bisa duganakan untuk kebutuhan industri kreatif anda.</p>
        <p>Seiring berkembangnya komunitas kami masih terus tumbuh dan kami menawarkan jasa untuk memproduksi kebutuhan seperti branding, website, grafis, interor, video atau audio jingle untuk produk anda. Jika anda tertarik menggunakan jasa kita bisa langsung menghubungi kami pada halaman hubungi kami.</p>
      </div>
    </div>
    <br/>
    <div class="text-center"><img src="/../../../assets/images/elements/office.jpg" style="width: 650px;" class="img-fluid"/></div>
  </div>
</section>