

<section>
    <div class="container" style="max-width: 1000px;">
      <h3>Privacy Policy untuk Mediadesain</h3>
      <p>Di Mediadesain, dapat diakses dari <a href="www.mediadesain.com">www.mediadesain.com</a>, salah satu prioritas utama kami adalah privasi pengunjung kami. Dokumen Kebijakan Privasi ini berisi jenis informasi yang dikumpulkan dan dicatat oleh Mediadesain.com dan bagaimana kami menggunakannya.</p>
      <p>Jika Anda memiliki pertanyaan tambahan atau memerlukan informasi lebih lanjut tentang Kebijakan Privasi kami, jangan ragu untuk menghubungi kami.</p>
  
      <h3>Informasi yang Kami Kumpulkan</h3>
      <p>Mediadesain.com mengikuti prosedur standar menggunakan file log. File-file ini mencatat pengunjung ketika mereka mengunjungi situs web. Semua perusahaan hosting melakukan ini dan merupakan bagian dari analisis layanan hosting. Informasi yang dikumpulkan oleh file log termasuk alamat protokol internet (IP), jenis browser, Penyedia Layanan Internet (ISP), tanggal dan waktu, halaman rujukan/keluar, dan mungkin jumlah klik. Ini tidak terkait dengan informasi apa pun yang dapat diidentifikasi secara pribadi. Tujuan informasi adalah untuk menganalisis tren, mengelola situs, melacak pergerakan pengguna di situs web, dan mengumpulkan informasi demografis.</p>
  
      <h3>Cookies</h3>
      <p>Seperti situs web lainnya, Mediadesain.com menggunakan ‘cookie’. Cookie digunakan untuk menyimpan informasi seperti preferensi pengunjung dan halaman yang diakses atau dikunjungi pengunjung pada situs web ini. Informasi tersebut kami gunakan untuk mengoptimalkan pengalaman pengguna dengan menyesuaikan konten halaman web kami.</p>
  
      <h3>Mitra Periklanan Kami</h3>
      <p>Beberapa partner periklanan kami mungkin menggunakan cookies dan web beacon di situs kami. Mitra iklan kami meliputi .......</p>
      <ul>
        <li>Google</li>
      </ul>
      <p><em>Meskipun masing-masing mitra periklanan ini memiliki Kebijakan Privasi mereka sendiri untuk situs mereka, sumber daya yang diperbarui dan ditautkan ke dalam situs tetap dipertahankan: <a href="/#!/kebijakan-privasi">Kebijakan Privasi</a><br>Anda dapat berkonsultasi dengan daftar ini untuk menemukan kebijakan privasi masing-masing mitra periklanan www.mediadesain.com.</em></p>
      <p>Server iklan pihak ketiga atau jaringan iklan ini menggunakan teknologi di masing-masing iklan dan tautannya yang muncul di www.mediadesain.com dan yang dikirim langsung ke browser Anda. Mereka secara otomatis menerima alamat IP Anda saat ini terjadi. Teknologi lain (seperti cookie, JavaScript, atau Web Beacon) juga dapat digunakan oleh jaringan iklan pihak ketiga situs kami untuk mengukur keefektifan kampanye iklan mereka dan / atau untuk mempersonalisasi konten iklan yang Anda lihat di situs.</p> 
      <p>www.mediadesain.com tidak memiliki akses ke atau kontrol atas cookie ini yang digunakan oleh pengiklan pihak ketiga.</p> 
  
      <h3>Kebijakan Privasi Pihak Ketiga</h3>
      <p>Kebijakan Privasi Mediadesain.com tidak berlaku untuk pengiklan atau situs web lain. Karena itu, kami menyarankan Anda untuk membaca seksama masing-masing Kebijakan Privasi dari pihak ketiga untuk informasi yang lebih rinci. Anda berhak untuk menonaktifkan cookies pada browser Anda.</p>
  
      <h3>Informasi Anak</h3>
      <p>Salah satu prioritas kami adalah membantu perlindungan untuk anak-anak saat menggunakan internet. Kami mendorong orang tua dan wali untuk mengamati, berpartisipasi, memantau, dan membimbing aktivitas online mereka.</p>
      <p>Mediadesain.com tidak dengan sengaja mengumpulkan informasi identifikasi pribadi apa pun dari anak-anak di bawah umur. Jika menurut Anda anak Anda memberikan informasi semacam ini di situs web kami, kami sangat menganjurkan Anda untuk segera menghubungi kami dan kami akan melakukan upaya terbaik kami untuk segera hapus informasi tersebut dari catatan kami.</p>
  
      <h3>Persetujuan</h3>
      <p>Dengan menggunakan situs web kami, Anda dengan ini menyetujui Kebijakan Privasi kami dan menyetujui syarat dan ketentuannya.</p>
    </div>
  </section>